# Purpose

1) Identify the baseline data for China 

2) Create a baseline SEIR model for China

3) Create a SELIRCD model for China

4) Evaluate SELIRCD by comparing results to raw data and to SEIR

# Data

We will be working with cumulative China data from China NHC (National Health Commission).

In [5]:
from scipy.integrate import odeint
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import lmfit
from lmfit.lineshapes import gaussian, lorentzian
from helpers.plot import plotter
import matplotlib.dates as mdates

In [25]:
#Beds data for most countries, most recent year documented, beds per 10,000 people
beds = pd.read_csv("Data/beds_UNdata.csv", header=0)
idx = beds.groupby(['country_area'])['years'].transform(max) == beds['years']
beds = beds[['country_area','years','beds']]
beds = beds[idx]
beds

                           country_area  years  beds
0                           Afghanistan   2010     4
2                               Albania   2009    28
4                               Algeria   2004    17
5                               Andorra   2009    25
7                                Angola   2005     8
..                                  ...    ...   ...
315  Venezuela (Bolivarian Republic of)   2009    11
317                            Viet Nam   2009    31
319                               Yemen   2010     7
321                              Zambia   2010    20
323                            Zimbabwe   2011    17

[187 rows x 3 columns]

In [27]:
#Age group demographics for some countries, for both sexes, most recent year of data (orig data 1955-2019)
#TODO: Can we predict more accurate population numbers by extrapolation? (LOW priority)
agegroups = pd.read_csv("Data/agegroups_UNdata.csv", header=0)
idx = agegroups.groupby(['country_area'])['year'].transform(max) == agegroups['year']
agegroups = agegroups[['country_area','year','agegroup','pop']]
agegroups = agegroups[idx]
agegroups

                   country_area  year agegroup       pop
0                       Belgium  2018      0-9  119571.0
1                       Belgium  2018      0-9  122698.0
2                       Belgium  2018      0-9  124212.0
3                       Belgium  2018      0-9  127788.0
4                       Belgium  2018      0-9  128593.0
...                         ...   ...      ...       ...
24394  United States of America  2018   90-100  198075.0
24395  United States of America  2018   90-100  150910.0
24396  United States of America  2018   90-100  113174.0
24397  United States of America  2018   90-100   77872.0
24398  United States of America  2018   90-100   52778.0

[2661 rows x 4 columns]